<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamento</h1>
    </div>

    <div class="p-grid p-fluid">
      <label>Descrição: </label>
      <input type="text" class="p-inputtext-sm" pInputText>
    </div>

    <div class="p-grid margem">
      <label class="p-col-fixed" style="padding-left: 0">Vencimento: </label>
      <input type="text" class="p-inputtext-sm" style="width: 95px;" pInputText>
      <label class="p-col-fixed"> até </label>
      <input type="text" class="p-inputtext-sm" style="width: 95px;" pInputText>
    </div> 

    <div class="p-grid margem">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
    </div>
  </div>
  <div class="ui-g-12 margem" style="margin-top: 5px">
    <button pButton type="submit" label="Novo Lançamento"></button>
  </div>
</div>

